<% layout('/layouts/boilerplate') -%>
    <div class="container mt-4">
    <ul class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2 g-lg-3">
        <% for(let listing of allListing){ %>
            <li class="col mb-4">
                <a href="/listing/<%= listing._id %>" class="card-link">
                    <div class="card h-100">
                        <img src="<%- listing.image.url %>" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><%- listing.title %></h5>
                            <p class="card-text"><%- listing.description %></p>
                            <p class="card-text"><%- listing.price %></p>
                        </div>
                    </div>
                </a>
            </li>
        <% } %>
    </ul>
</div>